body {
    height: 95%;
    display: flex;
    justify-content: center;
} 
.form {
    width: 15%;
    height: 15%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    padding: 10px;
    text-align: center;
}
.frameFilling{
    background: linear-gradient(97deg, rgb(199, 26, 252) 0%, rgb(230, 60, 207) 100%);
    border-style: ridge;
    border-width: 4px;
    border-color: black;
}